.userprompt {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.maintitle {
  font-size: 1.8rem;
  font-weight: bold;
}

.enterprompt {
  font-size: 1.1rem;
}

.btnsubmit-enabled,
.btnsubmit-disabled {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  border: none;
  margin: 0 auto;
  color: white;
  min-width: 10rem;
}

.btnsubmit-disabled {
  background-color: lightgrey;
}

.btnsubmit-enabled {
  background-color: #0066ff;
}

.btnsubmit-enabled:hover {
  cursor: pointer;
}

.btnsubmit-disabled:hover {
  cursor: not-allowed;
}

.prompttextarea {
  border-radius: 0.25rem;
  resize: vertical;
  padding: 1rem 1.2rem;
  height: 5rem;
}

.responsestext {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.loadingtext {
  text-align: center;
  font-size: 1.1rem;
}

.errormsg {
  color: red;
}

.selectengines {
  margin-top: 1rem;
  display: flex;
  column-gap: 1rem;
}

.selectaienginetext {
  font-size: 1.1rem;
}

.enginesdropdown {
  padding: 0.2rem;
  border: 0.125rem solid;
  border-radius: 0.25rem;
}
